@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arima+Madurai:wght@500&family=Bangers&family=Bebas+Neue&family=Carter+One&family=Chakra+Petch&family=Dancing+Script&family=Fredoka+One&family=Fruktur&family=Griffy&family=Henny+Penny&family=Lobster&family=Lobster+Two&family=Quantico:wght@700&family=Righteous&family=Sigmar+One&family=Tangerine:wght@700&family=Underdog&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #02013a !important;
    z-index: 10;
}
.navbar .navbar-collapse .navbar-nav{
    display: flex !important;
    justify-content: space-evenly;
    width: 100%;
}
.navbar-toggler{
    border:2px solid #57ce17;
}
.navbar-toggler span{
    color: #57ce17 !important;
}
.navbar .nav-item{
    color: #57ce17 !important;
    text-align: left;
    width: fit-content;
    margin: auto;
    transition:all 0.5s ease-in-out ;
    -webkit-transition:all 0.5s ease-in-out ;
    -moz-transition:all 0.5s ease-in-out ;
    -ms-transition:all 0.5s ease-in-out ;
    -o-transition:all 0.5s ease-in-out ;
}
.logo-nav{
    width: 20%;
    margin: 0 34px auto;
}
.navbar-brand{
    text-align: center;
}
.navbar-toggler i{
    outline: none;
    color: #57ce17 ;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.navbar-toggler:hover i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.navbar .nav-item:hover,
.active{
    letter-spacing: 1px;
    font-weight: 500;
}
.image img{
    width:100% ;
    margin-top: 5%;
}
.lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    border-top: #32770c 3px solid;
    justify-content: space-evenly;
    background-color: #57ce17;
}
.lang div h1{
    background-color: #3d990b;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
    font-size: 150%;
    border: 3px solid white;
    border-radius: 15px;
    width: fit-content;
    margin: 20px  auto ;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
}
.lang .prog-lang{
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.lang .prog-lang div{
    position: relative;
    width: 32%;
    color: white;
    font-size: 125%;
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    border: 3px solid white;
    background-color: #399906;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
}
.lang .prog-lang div img{
    position: relative;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#adobe{
    width: 100%;
}
table{
    width: 100%;
}
table tr td div:first-child{
    width: 98%;
    margin: 5px auto
}
table thead tr th{
    letter-spacing: 1px;
    background-color: #02013a;
    color: white;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    text-align: center;
}
table tr td p{
    color:#02013a;
    text-align: center;
    font-size: 150%;
    margin-top: 1rem;
}
td div{
    border: 2px solid #02013a;
    padding: 1.5% 0.25%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
table tr td div img {
    width: 100%;
    margin-bottom:-4px ;
    border-radius: 0  0 23px 23px;
    -webkit-border-radius: 0  0 23px 23px;
    -moz-border-radius: 0  0 23px 23px;
    -ms-border-radius: 0  0 23px 23px;
    -o-border-radius: 0  0 23px 23px;
}
.python {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    border-radius: 25px;
    width: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.python div .pyth i{
    font-size: 900%;
}
.python div .pyth{
    margin: auto;
    color: #50ca0f;
}
.python h1 {
    margin: 0 5px 5px 5px ;
    padding-bottom: 8px;
    font-size: 200%;
    color:#50ca0f;
    font-family: 'Quantico', sans-serif;
}
.python video{
    border-radius: 25px ;
    width: 80%;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}
#register{
    width: 95%;
    margin: auto;
}
#register > div{
    background-color: #02013a;
    color: white;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    width: fit-content;
    padding: 10px  25px;
    margin: 15px auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#register > div h2{
    margin: 0;
}
Form{
    background-color: #eee;
    box-shadow: 5px 5px 20px #090952;
    margin: 10px auto;
    text-align: center;
    border: 2px dashed #09093f ;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
Form div{
    margin: 20px;
}
Form div label{
    font-size: 150%;
    text-align: left;
    width: 100%;
    display: inline-block;
    color: #050427;
    margin-bottom: 4px;
}
Form div .text-editor{
    padding: 5px;
    width: 100%;
    font-size: 130%;
    border: 1px solid #02013a;
    border-radius: 25px;
    box-shadow: 1px 1px 10px #02013a;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-align: center;
}
Form div img{
    width: 150px;
    text-align: center;
    padding: 20px;
}
Form div .submit{
    background-image:linear-gradient(to right,#1d1993,#02013a);
    color: white;
    padding: 8px 10px;
    margin: 15px;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
Form div .submit:hover{
    cursor: pointer;
    background-image:linear-gradient(to left,#1d1993,#02013a);
}
footer{
    display: flex;
    flex-direction: column;
    font-family: 'Chakra Petch', sans-serif;
}

.Footer {
    background-color:#090952;
    text-align: center;
    color: white;
    padding:5px;
    margin:0px;
}
.Footer ul div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0 ;
}
.Footer ul div li{
    list-style: none;
    text-align: center;
    color:white;
}
.Footer ul div li a i{
    text-align: center;
    border: 1px white solid;
    padding: 5px;
    border-radius: 10px;
    color:white;
}

.p{
    text-align: center;
    text-transform: capitalize;
    font-size:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:5px;
}
.p2{
    font-size: medium;
    text-align: center;
    margin:10px;
}
.FB:hover {
    color: mediumblue;
    cursor: pointer;
    background:White;
}
.TW:hover {
    color: deepskyblue;
    cursor: pointer;
    background: White;
}
.LI:hover {
    color: darkblue;
    cursor: pointer;
    background: White;
}
.YT:hover {
    color: red;
    cursor: pointer;
    background: White;
}
.GH:hover {
    color: black;
    cursor: pointer;
    background: white;
}
.font{
    font-size: 100%;
    margin: 10px;
}
footer .bottom-footer{
    text-align: center;
    background-color:#02013a;
    color: white;
    font-size: 120%;
    font-family: 'Chakra Petch', sans-serif;
}
footer .bottom-footer p{
    margin: 0;
    padding: 8px;
} 
footer .Footer img{
    width: 150px;
    padding: 20px;
}
footer .Footer ul div li{
    width:150px;
}
footer .Footer ul div li a{
    text-decoration: none;
    color: white;
    font-size: 150%;
    font-family: 'Arima Madurai', cursive;
}
footer .Footer ul div li a:hover {
    text-decoration: underline;
}
.btn-top{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 15px;
    background-image: linear-gradient(to top,#9cf06f,#57ce17);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 10;
    text-align: center;
}
.btn-top a i{
    font-size: 302%;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn-top a:hover i{
    font-size: 312%;
    
}
@media (max-width:680px){
    .lang .prog-lang{
        flex-direction: column;
        
    }
    .lang .prog-lang div{
        width: 100%;
        margin-top: 20px;
    }
    table tr {
    display: flex;
    flex-direction: column;
    }
    td div{
        padding: 1% 0.25%;
    }
    .python div .pyth i{
    font-size: 300%;
}
}